/* Write your CSS here */
.bg-cont {
  background-color: #1e293b;
  height: 100vh;
  font-family: 'Bree Serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-weight: bold;
}

.para {
  color: #ffffff;
}

.button {
  background-color: #ffffff;
  border-radius: 18px;
  border-style: none;
  border-width: 0px;
  height: 50px;
  width: 120px;
}
